# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Data
data/*
!data/raw/lexical_norms/README.md
!data/processed/lookup_tables/README.md

# Metadata
*.egg-info/
src/*.egg-info/
